import '../entities/user.dart.mustache';
import '../repositories/auth_repository.dart.mustache';

class GetCachedUserUseCase {
  final AuthRepository repository;

  GetCachedUserUseCase(this.repository);

  Future<User?> execute() {
    return repository.getUser();
  }
}
